.env
.DS_store
.venv
.mypy_cache
.idea
/deployment/data/nginx/app.conf
.vscode/
*.sw?
/backend/tests/regression/answer_quality/search_test_config.yaml
.terraform/
*.terraform.lock.hcl
*.tfstate*
deployment/terraform/deploy_danswer_on_ecs_anywhere/utils/putt_it.ps1
