[Unit]
Description=Consul Online
Requires=consul.service
After=consul.service

[Service]
Type=oneshot
ExecStart=/usr/bin/consul_online.sh
User=consul
Group=consul

[Install]
WantedBy=consul_online.target multi-user.target