[Unit]
Description=Nomad Agent
Requires=consul_online.target
After=consul_online.target

[Service]
Restart=on-failure
EnvironmentFile=/etc/nomad.d/nomad.conf
ExecStart=/usr/local/bin/nomad agent -config /etc/nomad.d $FLAGS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
User=root
Group=root

[Install]
WantedBy=multi-user.target